<div class="accordion" id="eventsAccordion">
  {{#events}}  
    <div class="card border-dark mb-3" >
        <div class="card-header border-dark" id="header-{{id}}">  
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-{{id}}" aria-expanded="true" aria-controls="collapse-{{id}}">                  
              <h3 class="md-0">{{ title }}</h3>
            </button>
        </div>       
        <div id="collapse-{{id}}" class="collapse border-dark" aria-labelledby="header-{{id}}" data-parent="#eventsAccordion"> 
          <div class="card-body border-dark">        
              <p class="card-text">{{ description }}</p>
              <p class="card-text">Location: {{ location }}</p>
              <p class="card-text">Likes: {{ likes }}</p>
                <form method="POST" action="/event/like">
                    <input type="hidden" value="{{id}}" name="id">
                    <input class="btn btn-primary" type="submit" name="Like" value="Like">
                </form>                
                <form method="POST" action="/event/unlike">
                    <input type="hidden" value="{{id}}" name="id">
                    <input class="btn btn-primary" type="submit" name="UN-Like" value="UN-Like">
                </form>              
              
          </div>
        </div>
    </div>
  {{/events}}
</div>

